@charset "UTF-8";

/* ZERO OUT */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

body {
        background-color: white;
	line-height: 1.2;
	font-family: Arial, 'Trebuchet MS', Verdana, sans-serif;
	color: #444;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table td {
	vertical-align: top;
}

.container {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
        background-color: rgb(240,240,240);
        border-right: 100px solid rgb(153,0,0);
        border-left: 100px solid rgb(153,0,0);
        min-height: 100%;
        padding: 10px 12px 35px 5px;
}

.containerleft {
        width: 68%;
        height: 100%;
        background-color: white;
        border: 1px solid #C0C0C0;
        padding: 5px;
}

.containerright {
        width: 30%;
        height: 100%;
        background-color: white;
        border: 1px solid #C0C0C0;
        padding: 5px;
        float: right;
        margin-right: -7px;
}

.containermiddle {
        width: 30%;
        height: 100%;
        border: 1px solid #C0C0C0;
        padding: 5px; 
        float: right;
        margin-right: 40px;
}

.header {
	background-color: white;
	color: white;
	font-weight: bold;
	padding: 0px;
	text-align: left;
	margin-bottom: 20px;
}
.header img {
	padding-left: 10px;
}

.footer {
        background: rgb(153,0,0);
        margin-bottom: 10px;
        width: 1000px;
	height: 60px;
        margin: auto;
        margin-bottom: 5px;
       	border-left: rgb(153,0,0) solid 100px;
	border-right: rgb(153,0,0) solid 100px; 
        border-bottom: black solid 1px;
        padding: 35px 8px 0px 9px;
}

ul.footer2 {
        list-style-type: none;
}

.footer img {
        float: right;
        width: 75px;
        height: 75px;
        margin-right: 1px;
        margin-top: -25px;
}

.footer img.image2 {
        float: left;
        width: 75px;
        height: 75px;
        margin-left: 1px;
        margin-right: 0px;
}

ul.footer2 li {
        font-size: 1em;
        font-weight: bold;
        color: white;
        display: inline;
        padding: 10px 10px;
        text-decoration: none;
}
         
ul.footer2 a {
        color: white;
        text-decoration: none;
}

ul.footer2 a:hover {
        text-decoration: underline;
        color: white;
}


.layout1 {  /*both levels nav*/
	width: 960px;
	clear: both;	
	background: #ffffff;
	float: left;
	padding: 10px 20px 15px;
}

.mainheader {
        background-color: white;
        border: 1px solid rgb(153,0,0);
        width: 100%;
        margin-bottom: -1px;
        text-decoration: none;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 5px;
}

.mainheader img {
        float: left;
        width: 88.8px;
        height: 96px;
}

.mainheader h1 {
        color: #000000;
        font-size: 2em;
        font-weight: normal;
        float: none;
}
.mainheader .city {
        font-weight: bold;
        float: none;
        font-size: .7em;
        margin-left: 40px;
        font-color: #000000;
}

.mainheader .accountInfo {
        font-size: 1.2 em;
        font-weight: bold;
        color: #808080;
        padding: 10px 45px;
        text-decoration: none;
        border: 1px solid rgb(153,0,0);
        float: right;
        margin: 5px;
        margin-top: 15px;
}

.red {
        color: rgb(153,0,0);
}

.firstNav {
        background-color: white;
        border: 1px solid rgb(153,0,0);
        list-style-type: none;
        width: 100%;
        text-align: center;;
        padding: 5px 5px 5px 0px;
}

ul.firstNav {
        border: none;
}

ul.firstNav li {
        background-color: transparent;
        font-size: .8em;
        font-weight: bold;
        color: #808080;
        display: inline;
        padding: 10px 10px;
        text-decoration: none;
}

ul.firstNav li.selected {
        background-color: #C0C0C0;
        color: rgb(153,0,0);
        padding: 10px 15px;
}

ul.firstNav a.selected {
        color: rgb(153,0,0);
}
         
ul.firstNav a {
        color: #808080;
        text-decoration: none;
}

ul.firstNav a:hover {
        text-decoration: underline;
        color: rgb(153,0,0);
}

div.secondNav {
        background: #C0C0C0;
        width: 100%;
        text-align: center;
        padding: 10px 2.5px 12px;
        margin-top: -5px;
        margin-bottom: 2px;
        border: 1px solid rgb(153,0,0);  
        border-top: none;
}

ul.secondNav {
        list-style-type: none
}

ul.secondNav li {
        font-size: .7em;
        font-weight: normal;
        color: #000000;
        display: inline;
        padding: 10px 100px;
        text-decoration: none;
}

ul.secondNav li.selected {
        background-color: #C0C0C0;
        color: rgb(153,0,0);
        padding: 11px 15px;
}

ul.secondNav a {
        color: #000000;
        text-decoration: none;
}

ul.secondNav a:hover {
        text-decoration: underline;
        color: rgb(153,0,0);
}

h2 {
        background: url("../images/alumni/header1.jpg") top left no-repeat;
        color: #000000;
        font-size: 1.3em;
        font-weight: normal;
        border-top: 2px solid grey;
}

.headerright {
        color: #000000;
        font-size: 1.2em;
        font-weight: normal;
        list-style-image: url("../images/alumni/header2.jpg");
        margin-left: 20px;
        margin-top: 5px;
}

.block img {
        display: block;
        width: 225px;
        height: 150px;
        margin: auto;
}

h3 {
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
}
           
h4 {
        font-size: 1em;
        font-weight: normal;
        color: #000000;
}

.black {
        color: #000000;
}

.rightsidebox {
        padding: 10px 5px;
}

.peopleright {
        color: rgb(153,0,0);
        padding: 10px 5px;
}

.peopleright img {
        height: 70px;
        width: 70px;
        float: left;
        margin: 2px;
}

.peopleright a {
        color: rgb(153,0,0);
        text-decoration: none;
}

.peopleright a:hover {
        color: rgb(153,0,0);
        text-decoration: underline;
}

.person {
        margin-bottom: 40px;
}

.eventright {
        padding: 10px 5px;
}

.event {
        padding-top: 10px;
        margin-bottom: 7px;
}
        
.eventright div.eventdate {
        background: url("../images/alumni/eventdateback.jpg") top left no-repeat;
        width: 58px;
        height: 63px;
        float: left;
        text-align: center;
        margin: auto;
        padding-top: 10px;
        margin: 2.5px 5px;
}

.eventright div.eventdate h5 {
        font-size: .8em;
        font-weight: normal;
        margin-top: -2px;
}

.eventright div.eventdate h6 {
        font-size: 1.2em;
        font-weight: normal;
}

.eventright img {
        width: 225px;
        height: 150px;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 10px;
        display: block;
}
        
.eventright p {
        color: white;
        background: #000000;
        opacity: .6;
        filter: alpha(opacity=60);
        margin-left: auto;
        margin-right: auto;
        font-size: .55em;
        width: 215px;
        height: 50px;
        margin-top: -50px;
        padding: 0px 5px;
}

.eventright a {
        color: #000000;
        text-decoration: none;
}

.eventright a:hover {
        color: rgb(153,0,0);
        text-decoration: underline;
}

h5 {
        font-size: .7em;
        font-weight: normal;
        color: #000000;
}

h6 {
        font-size: .5em;
        font-weight: normal;
        color: #000000;
}

p {
        font-size: .85em;
        font-weight: normal;
        font-color: #000000;
}

a {
        color: rgb(153,0,0);
        text-decoration: none;
}

a:hover{
        color: rgb(153,0,0)
        text-decoration: underline;
}
        
.memberlogin {
        color: #000000;
        padding: 5px 0px;
}

.memberlogin h2 {
        width: 85%;
}

.memberlogin input[type=email] {
        width: 95%;
        display: block;
        background-color: white;
        margin-bottom: 10px;
        margin: auto;
        color: #000000;
        border-color: black;
}

.memberlogin input[type=password] {
        width: 95%;
        display: block;
        background-color: white;
        margin: auto;
        color: #000000;
        border-color: black;
}


.memberlogin input[type=button] {
        width: 50%;
        height: 40px;
        display: block;
        background-color: rgb(153,0,0);
        color: white;
        font-size: 1.3em;
        margin: auto;
}

.memberlogin h6 {
        font-size: .4em;
        color; #000000;
        margin: auto;
}

.harvardbridge {
        width: 680px;
        height: 210px;
        background: url("../images/alumni/harvardbridge.jpg") no-repeat left top;
        text-align: center;
        margin-bottom: 5px;
}

.harvardbridge .text {
        width: 650px;
        height: 195.548px;
        opacity: .3;
        filter: alpha(opacity=30);
        background-color: white;
}

.harvardbridge h3 {
        color: black;
        text-weight: bold;
        position: relative;
        top: -100px;
        font-size: 1.5em;

}

.harvardbridge h6 {
        color: black;
        font-size: .75em;
        position: relative;
        top: -33px;
}

.leftloggedout {
        display: inline;
}

.block {       
        width: 100%;
}

.loggedout input[type=button] {
        width: 40%;
        height: 40px;
        display: block;
        background-color: rgb(153,0,0);
        color: white;
        font-size: 1.2em;
        margin-top: 20px;
        margin: auto;
}

.loggedout img {
        width: 200px;
        height: 138px;
        margin-left: 35px;                            
}

.loggedout p {
        margin-left: 25px;
        margin-bottom: 10px;
        margin-top: 5px;
}

.profile {
        padding: 0px;
        margin-bottom: 15px;
}

.profile img {
        width: 125px;
        height: 125px;
        float: left;
        margin-right: 5px;
}

.profileinfo h3, h4, h5, h6, li {
        padding-top: 3px;  
}

ul.profileinfo {
        list-style-type: none;
        padding: 15px 5px;;
}

ul.profileinfo li {
        padding: 15px 45px;
        display: inline;
        color: black;
        margin: auto;
}

ul.profileinfo a {
        color: black;
        text-decoration: none;
}

ul.profileinfo a:hover {
        text-decoration: underline;
}

.edit {
        color: rgb(153,0,0);
        text-size: .7em;
        text-decoration: none;
        float: right;
}

.profblock {
        margin-top: 5px;
        margin-bottom: 25px;
        width: 100%;
}

.profblock h3, h4 {
        padding-top: 3px;
        font-weight: normal;
}

.profblock h5, p {
        padding-top: 5px;                        
}

.connections {
        overflow: scroll;
        height: 200px;
}

.prof {
        float: left;
        width: 40%;
        padding: 5px;
}

.prof img {
        float: left;
        width: 75px;
        height: 75px;
        margin-right: 2px;
}

.prof h5 {
        font-size: 1em;
        color: rgb(153,0,0);
}

.prof a {
        text-decoration: none;
}

.prof a:hover {
        text-decoration: underline;
}

h2, h3, h4, h5 .eventpage {
        padding-top: 5px;
}

.eventpage img {
        width: 500px;
        height: 333px;
        display: block;
        margin: auto;
        margin-top: 15px;
}

.eventpage h6 {
        font-size: 1em;
        width: 480px;
        height: 60px;
        margin: auto;
        margin-top: -80px;
        opacity: .7;
        padding: 10px;
        background: #C0C0C0;
        color: black;
}
.eventpage input[type=button] {
        width: 200px;
        height: 50px;
        display: block;
        background-color: rgb(153,0,0);
        color: white;
        font-size: 1.3em;
        margin: auto;
        margin-top: 10px;
        border: 0;
}

.search input[type=search] {
        width: 800px;
        height: 25px;
        display: inline;
        font-size: .8em;
        background-color: #C0C0C0;
        opacity: .7;
        color: #000000;
        margin-top: 5px;
        border: 0;
        padding: 1px 5px;
}

.search input[type=button] {
        width: 25px;
        height: 25px;
        display: inline;
        background: url(../images/alumni/search.jpg)  no-repeat;
        border: 0;
}

.peopleleft {
        height: 1100px;
        overflow: scroll;
        padding-top: 20px;
}

.searchresult {
        width: 100%;
        height: 200px;
        padding: 0px;
}

.searchresult a {
        text-decoration: none;
        color: rgb(153,0,0);
}

.searchresult img {
        float: left;
        width: 125px;
        height: 125px;
        padding: 0px 25px;
        margin-top: -5px;
}

.searchresult h4 {
        color: black;
        font-size: .8em;
        padding: 5px 0px;
}

.searchresult a:hover {
        text-decoration: underline;
}

.eventleft {
        padding: 10px 5px 10px 0px;
        overflow: scroll;
        height: 1100px;
}

.eventleft div.eventdate {
        background: url("../images/alumni/eventdateback.jpg") top left no-repeat;
        width: 58px;
        height: 63px;
        float: left;
        text-align: center;
        margin: auto;
        padding-top: 10px;
        margin: 0px 7px 0px 0px;
}

.eventleft div.eventdate h5 {
        font-size: .8em;
        font-weight: normal;
        margin-top: -2px;
}

.eventleft div.eventdate h6 {
        font-size: 1.2em;
        font-weight: normal;
}

.eventleft h3 {
        color: black;
        font-size: 1.1em;
        font-weight: normal;
        margin-bottom: -2px;
}

.eventleft h4{
        color: black;
        font-size: .7em;
}

.eventleft a {
        color: black;
        text-decoration: none;
}

.eventleft a:hover {
        text-decoration: underline;
        color: rgb(153,0,0);
}

.eventleft a:hover img{
        border: 2px solid rgb(153,0,0);
}
.eventleft img {
        width: 500px;
        height: 333px;
        display: block;
        margin: auto;
}

.eventleft h6 {
        font-size: 1em;
        width: 480px;
        height: 60px;
        margin: auto;
        margin-top: -80px;
        opacity: .7;
        padding: 10px;
        background: #C0C0C0;
        color: black;
        margin-bottom: 25px;
}
div.error {
	background: #fbe3e4;
	border: 2px solid #fbc2c4;
	padding: 15px;
	color: #8a1f11;
	margin-bottom: 15px;
	font-size: .9em;
}

div.error ul {
	margin-top: 10px;
	margin-left: 20px;
}

div.error li {	
	padding-bottom: 4px;
	font-size: .95em;
}


/* General label widths */
.label-left label {text-align: left}
.label-right label {text-align: right}
.label-20 label {float: left; width: 20px}
.label-20 .data {margin-left: 20px}
.label-40 label {float: left; width: 40px}
.label-40 .data {margin-left: 40px}
.label-60 label {float: left; width: 60px}
.label-60 .data {margin-left: 60px}
.label-70 label {float: left; width: 70px}
.label-70 .data {margin-left: 70px}
.label-80 label {float: left; width: 80px}
.label-80 .data {margin-left: 80px}
.label-90 label {float: left; width: 90px}
.label-90 .data {margin-left: 90px}
.label-100 label {float: left; width: 100px}
.label-100 .data {margin-left: 100px}
.label-110 label {float: left; width: 110px}
.label-110 .data {margin-left: 110px}
.label-120 label {float: left; width: 120px}
.label-120 .data {margin-left: 120px}
.label-140 label {float: left; width: 140px}
.label-140 .data {margin-left: 140px}
.label-160 label {float: left; width: 160px;}
.label-160 .data {margin-left: 160px}
.label-180 label {float: left; width: 180px;}
.label-180 .data {margin-left: 180px}
.label-200 label {float: left; width: 200px;}
.label-200 .data {margin-left: 200px}
.label-220 label {float: left; width: 220px;}
.label-220 .data {margin-left: 220px}
.label-paddingright-5 label {padding-right: 5px}
.data {color:#555; font-size: .93em;}

input, select, textarea {margin-bottom: 10px;}

.eventDetails {
	background-color: #f2f2f2;
}
.eventDetails h2 {
	background-image: none;
	background-color: #a42626;
	color: #ffffff;
}


p {
	margin-bottom: 10px;
}

